@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-heebo: "Heebo", "sans-serif";
  --font-playfair: "Playfair Display", "serif";
  --color-primary: "#25228b";
}
